.evenTr {
    background-color: rgb(0, 225, 255);
}

.oddTr {
    background-color: rgb(100, 216, 6);
}

td {
    text-align: center;
    border: 1px solid black;
}

th {
    color: white;
    background-color: rgb(255, 166, 0);
    text-align: 'center';
    border: 1px solid black;
}